<html>
    <head>
        <link rel="stylesheet" href="{{MEDIA_URL}}/CSS/bootstrap.min.css">
        <link rel="stylesheet" href="{{MEDIA_URL}}/CSS/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{MEDIA_URL}}/CSS/styles.css">        
        <link href="{{MEDIA_URL}}/CSS/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
        <script src="{{MEDIA_URL}}/JS/fileuploader.js" ></script>
        <script  src = "{{MEDIA_URL}}/JS/bootstrap.js"></script>
        <script src = "{{MEDIA_URL}}/JS/bootstrap.min.js"></script>
        <script src = "{{MEDIA_URL}}/JS/jquery.js"></script>
        <script src = "{{MEDIA_URL}}/JS/create_tree.js"></script>
        <script src = "{{MEDIA_URL}}/JS/editItem.js"></script>
        <script type="text/javascript" src = "{{MEDIA_URL}}/JS/create_item.js"></script>  
        <script src = "{{MEDIA_URL}}/JS/getSearch.js"></script>
        <script src = "{{MEDIA_URL}}/JS/wordSearch.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>  
        <script type="text/javascript" src = "http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>      
        <script type="text/javascript" >
			  function toolTip()
			  {
				if(confirm("r u sure u want replace the image ?"))				
				return true;					
				else
				return false;		  
			  }
			   function deleteTip()
			  {
				if(confirm("r u sure u want delete the image ?"))				
				return true;					
				else
				return false;		  
			  }
			  
            $(document).ready(function(){
            	 
                var file_name = "";
                var uploader = new qq.FileUploader({
                    action: "/ajax-upload",
                    element: $('#file-uploader')[0],
                    multiple: true,
                    onComplete: function(id, fileName, responseJSON) {
                        file_name = fileName
                        if(responseJSON.success) {
                                          
                        } else {
                            alert("upload failed!");
                        }
                    },
                    onAllComplete: function(uploads) {                   
                        // the maps look like this: {file: FileObject, response: JSONServerResponse}                    
                        alert("All complete!");
                        var zpk = getValue();        
                        alert(file_name);  
                        $.ajax({						   
                            url:'/upload/',
                            type:'get',
                            data:{file_name:file_name,zpk:zpk},                              		
                            success: function(response) { 
                                alert(response);
                                if ($('.current').attr('data-imgsrc') !== undefined)   
                                	 $(".current").attr('data-imgsrc',response);
                                else
                                    $(".current").prev().attr('data-imgsrc',response);      
                                $('#contentTop').html("<img id = 'currImg' src ='{{MEDIA_URL}}/png/"+response+"' >");                     
                            }
                        });                    
                    },
                    params: {
                        'csrf_token': '{{ csrf_token }}',
                        'csrf_name': 'csrfmiddlewaretoken',
                        'csrf_xname': 'X-CSRFToken',
                    },
                });                                                 
            });
        </script>
        <script type="text/javascript">     
            function errors(obj)
            {				
				document.getElementById('contentTop').innerHTML ="Image not available";  
            }        		
            function func(vari,var1)
            {
                x = var1;   
                // alert(var1);    
                var ERROR = "Image does not exist ";        
                document.getElementById('contentTop').innerHTML="<img id = 'currImg' src ='{{MEDIA_URL}}/png/"+vari+"' onError='errors(this)'>";
                document.getElementById('forms').style.display="block";
                document.getElementById("file-uploader").style.display = "block";
                
            }
            function getValue()
            { 
              //   alert(x);
        		
                // document.getElementById("foobar").value =  x;
                return x;
            }         
        </script>                                              
    </head>
    <body>
        <div id="leftContentTop">
            {% block left_content_top %}
            {% endblock %}
        </div>
         <div id="leftContentBottom">
            {% block left_content_bottom %}
            {% endblock %}
        </div>
        <div id="rightContent">
            {% block right_content %}
            {% endblock %}
        </div>
        <div id="contentTop">
            {% block content %}
            {% endblock %}            
        </div>
        <div id = "contentBottom">
            <div id = "forms">
            	 <button class="btn btn-danger" id="clearImage">Clear Image</button><br>
                <b>Replace Image :</b>
                Search <input type = "text" id = "search_field">
                <button id = "search" class = "btn">Search</button>
            </div>
            <div id="file-uploader">           
            </div>
            <div id = "viewImages">
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">               
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                </div>
            </div>
            
        </div>
    </body>
</html>
